<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">
		<head>
			<!-- template designed by Marco Von Ballmoos -->
			<title>Docs For Class Smarty_Internal_Template</title>
			<link rel="stylesheet" href="../../media/stylesheet.css" />
			<meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1'/>
		</head>
		<body>
			<div class="page-body">			
<h2 class="class-name">Class Smarty_Internal_Template</h2>

<a name="sec-description"></a>
<div class="info-box">
	<div class="info-box-title">Description</div>
	<div class="nav-bar">
					<span class="disabled">Description</span> |
							<a href="#sec-descendents">Descendents</a>
			|											<a href="#sec-var-summary">Vars</a> (<a href="#sec-vars">details</a>)
						|											<a href="#sec-method-summary">Methods</a> (<a href="#sec-methods">details</a>)
						
					</div>
	<div class="info-box-body">
        		<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Main class with template data structures and methods</p>
		<p class="notes">
			Located in <a class="field" href="_libs---sysplugins---internal.template.php.html">/libs/sysplugins/internal.template.php</a> (line <span class="field">16</span>)
		</p>
		
				
		<pre><a href="../../Smarty/Templates/Smarty_Internal_TemplateBase.html">Smarty_Internal_TemplateBase</a>
   |
   --Smarty_Internal_Template</pre>
	
			</div>
</div>

	<a name="sec-descendents"></a>
	<div class="info-box">
		<div class="info-box-title">Direct descendents</div>
		<div class="nav-bar">
			<a href="#sec-description">Description</a> |
			<span class="disabled">Descendents</span>
			|												<a href="#sec-var-summary">Vars</a> (<a href="#sec-vars">details</a>)
								|															<a href="#sec-method-summary">Methods</a> (<a href="#sec-methods">details</a>)
							
								</div>
		<div class="info-box-body">
			<table cellpadding="2" cellspacing="0" class="class-table">
				<tr>
					<th class="class-table-header">Class</th>
					<th class="class-table-header">Description</th>
				</tr>
								<tr>
					<td style="padding-right: 2em"><a href="../../Smarty/Templates/Smarty_Template.html">Smarty_Template</a></td>
					<td>
											wrapper for template class
										</td>
				</tr>
							</table>
		</div>
	</div>


	<a name="sec-var-summary"></a>
	<div class="info-box">
		<div class="info-box-title">Variable Summary</span></div>
		<div class="nav-bar">
			<a href="#sec-description">Description</a> |
							<a href="#sec-descendents">Descendents</a> |
						<span class="disabled">Vars</span> (<a href="#sec-vars">details</a>)
							| 
									<a href="#sec-method-summary">Methods</a> (<a href="#sec-methods">details</a>)
							
								</div>
		<div class="info-box-body">
			<div class="var-summary">
																												<div class="var-title">
					static <span class="var-type">mixed</span>
					<a href="#$cacher_object" title="details" class="var-name">$cacher_object</a>
				</div>
																								<div class="var-title">
					static <span class="var-type">mixed</span>
					<a href="#$cache_resource_objects" title="details" class="var-name">$cache_resource_objects</a>
				</div>
																																																																<div class="var-title">
					static <span class="var-type">mixed</span>
					<a href="#$compiler_object" title="details" class="var-name">$compiler_object</a>
				</div>
																																																								<div class="var-title">
					static <span class="var-type">mixed</span>
					<a href="#$resource_objects" title="details" class="var-name">$resource_objects</a>
				</div>
																																																<div class="var-title">
					static <span class="var-type">mixed</span>
					<a href="#$write_file_object" title="details" class="var-name">$write_file_object</a>
				</div>
																				<div class="var-title">
					<span class="var-type">mixed</span>
					<a href="#$cached_template" title="details" class="var-name">$cached_template</a>
				</div>
																<div class="var-title">
					<span class="var-type">mixed</span>
					<a href="#$cacher_class" title="details" class="var-name">$cacher_class</a>
				</div>
																								<div class="var-title">
					<span class="var-type">mixed</span>
					<a href="#$cache_id" title="details" class="var-name">$cache_id</a>
				</div>
																								<div class="var-title">
					<span class="var-type">mixed</span>
					<a href="#$cache_time" title="details" class="var-name">$cache_time</a>
				</div>
																<div class="var-title">
					<span class="var-type">mixed</span>
					<a href="#$caching" title="details" class="var-name">$caching</a>
				</div>
																<div class="var-title">
					<span class="var-type">mixed</span>
					<a href="#$caching_lifetime" title="details" class="var-name">$caching_lifetime</a>
				</div>
																<div class="var-title">
					<span class="var-type">mixed</span>
					<a href="#$caching_type" title="details" class="var-name">$caching_type</a>
				</div>
																<div class="var-title">
					<span class="var-type">mixed</span>
					<a href="#$compiled_template" title="details" class="var-name">$compiled_template</a>
				</div>
																<div class="var-title">
					<span class="var-type">mixed</span>
					<a href="#$compiler_class" title="details" class="var-name">$compiler_class</a>
				</div>
																								<div class="var-title">
					<span class="var-type">mixed</span>
					<a href="#$compile_id" title="details" class="var-name">$compile_id</a>
				</div>
																<div class="var-title">
					<span class="var-type">mixed</span>
					<a href="#$compile_time" title="details" class="var-name">$compile_time</a>
				</div>
																<div class="var-title">
					<span class="var-type">mixed</span>
					<a href="#$force_compile" title="details" class="var-name">$force_compile</a>
				</div>
																<div class="var-title">
					<span class="var-type">mixed</span>
					<a href="#$render_time" title="details" class="var-name">$render_time</a>
				</div>
																<div class="var-title">
					<span class="var-type">mixed</span>
					<a href="#$resource_name" title="details" class="var-name">$resource_name</a>
				</div>
																								<div class="var-title">
					<span class="var-type">mixed</span>
					<a href="#$resource_type" title="details" class="var-name">$resource_type</a>
				</div>
																<div class="var-title">
					<span class="var-type">mixed</span>
					<a href="#$template_resource" title="details" class="var-name">$template_resource</a>
				</div>
																<div class="var-title">
					<span class="var-type">mixed</span>
					<a href="#$template_source" title="details" class="var-name">$template_source</a>
				</div>
																<div class="var-title">
					<span class="var-type">mixed</span>
					<a href="#$tpl_vars" title="details" class="var-name">$tpl_vars</a>
				</div>
																			</div>
		</div>
	</div>

	<a name="sec-method-summary"></a>
	<div class="info-box">
		<div class="info-box-title">Method Summary</span></div>
		<div class="nav-bar">
			<a href="#sec-description">Description</a> |
							<a href="#sec-descendents">Descendents</a> |
																		<a href="#sec-var-summary">Vars</a> (<a href="#sec-vars">details</a>)
				 
				|
						<span class="disabled">Methods</span> (<a href="#sec-methods">details</a>)
		</div>
		<div class="info-box-body">			
			<div class="method-summary">
																																																																																																																																																																				
												<div class="method-definition">
											<span class="method-result">Smarty_Internal_Template</span>
										<a href="#__construct" title="details" class="method-name">__construct</a>
											(<span class="var-type">string</span>&nbsp;<span class="var-name">$template_resource</span>, [<span class="var-type">object</span>&nbsp;<span class="var-name">$_parent_tpl_vars</span> = <span class="var-default">null</span>], [<span class="var-type">mixed</span>&nbsp;<span class="var-name">$_cache_id</span> = <span class="var-default">null</span>], [<span class="var-type">mixed</span>&nbsp;<span class="var-name">$_compile_id</span> = <span class="var-default">null</span>])
									</div>
																<div class="method-definition">
											<span class="method-result">void</span>
										<a href="#buildTemplateFilepath" title="details" class="method-name">buildTemplateFilepath</a>
										()
									</div>
																<div class="method-definition">
											<span class="method-result">void</span>
										<a href="#compileTemplateSource" title="details" class="method-name">compileTemplateSource</a>
										()
									</div>
																<div class="method-definition">
											<span class="method-result">string</span>
										<a href="#getCachedContent" title="details" class="method-name">getCachedContent</a>
										()
									</div>
																<div class="method-definition">
											<span class="method-result">string</span>
										<a href="#getCachedFilepath" title="details" class="method-name">getCachedFilepath</a>
										()
									</div>
																<div class="method-definition">
											<span class="method-result">integer</span>
										<a href="#getCachedTimestamp" title="details" class="method-name">getCachedTimestamp</a>
										()
									</div>
																<div class="method-definition">
											<span class="method-result">string</span>
										<a href="#getCompiledFilepath" title="details" class="method-name">getCompiledFilepath</a>
										()
									</div>
																<div class="method-definition">
											<span class="method-result">string</span>
										<a href="#getCompiledTemplate" title="details" class="method-name">getCompiledTemplate</a>
										()
									</div>
																<div class="method-definition">
											<span class="method-result">integer</span>
										<a href="#getCompiledTimestamp" title="details" class="method-name">getCompiledTimestamp</a>
										()
									</div>
																<div class="method-definition">
											<span class="method-result">string</span>
										<a href="#getRenderedTemplate" title="details" class="method-name">getRenderedTemplate</a>
										()
									</div>
																<div class="method-definition">
											<span class="method-result">string</span>
										<a href="#getTemplateFilepath" title="details" class="method-name">getTemplateFilepath</a>
										()
									</div>
																<div class="method-definition">
											<span class="method-result">string</span>
										<a href="#getTemplateSource" title="details" class="method-name">getTemplateSource</a>
										()
									</div>
																<div class="method-definition">
											<span class="method-result">integer</span>
										<a href="#getTemplateTimestamp" title="details" class="method-name">getTemplateTimestamp</a>
										()
									</div>
																<div class="method-definition">
											<span class="method-result">boolean</span>
										<a href="#isCached" title="details" class="method-name">isCached</a>
										()
									</div>
																<div class="method-definition">
											<span class="method-result">boolean</span>
										<a href="#isEvaluated" title="details" class="method-name">isEvaluated</a>
										()
									</div>
																<div class="method-definition">
											<span class="method-result">boolean</span>
										<a href="#mustCompile" title="details" class="method-name">mustCompile</a>
										()
									</div>
																<div class="method-definition">
											<span class="method-result">void</span>
										<a href="#renderTemplate" title="details" class="method-name">renderTemplate</a>
										()
									</div>
																<div class="method-definition">
											<span class="method-result">void</span>
										<a href="#updateGlobalVariables" title="details" class="method-name">updateGlobalVariables</a>
										()
									</div>
																<div class="method-definition">
											<span class="method-result">boolean</span>
										<a href="#usesCompiler" title="details" class="method-name">usesCompiler</a>
										()
									</div>
																<div class="method-definition">
											<span class="method-result">void</span>
										<a href="#writeCachedContent" title="details" class="method-name">writeCachedContent</a>
										()
									</div>
								</div>
		</div>
	</div>		

	<a name="sec-vars"></a>
	<div class="info-box">
		<div class="info-box-title">Variables</div>
		<div class="nav-bar">
			<a href="#sec-description">Description</a> |
							<a href="#sec-descendents">Descendents</a> |
										<a href="#sec-var-summary">Vars</a> (<span class="disabled">details</span>)
						
			
										| 
									<a href="#sec-method-summary">Methods</a> (<a href="#sec-methods">details</a>)
							
					</div>
		<div class="info-box-body">
			<a name="var$cacher_object" id="$cacher_object"><!-- --></A>
<div class="evenrow">

	<div class="var-header">
		<span class="var-title">
			static <span class="var-type">mixed</span>
			<span class="var-name">$cacher_object</span>
			 = <span class="var-default"> null</span>			(line <span class="line-number">21</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	
	
		
		

</div>
<a name="var$cache_resource_objects" id="$cache_resource_objects"><!-- --></A>
<div class="oddrow">

	<div class="var-header">
		<span class="var-title">
			static <span class="var-type">mixed</span>
			<span class="var-name">$cache_resource_objects</span>
			 = <span class="var-default">array()</span>			(line <span class="line-number">22</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	
	
		
		

</div>
<a name="var$compiler_object" id="$compiler_object"><!-- --></A>
<div class="evenrow">

	<div class="var-header">
		<span class="var-title">
			static <span class="var-type">mixed</span>
			<span class="var-name">$compiler_object</span>
			 = <span class="var-default"> null</span>			(line <span class="line-number">20</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	
	
		
		

</div>
<a name="var$resource_objects" id="$resource_objects"><!-- --></A>
<div class="oddrow">

	<div class="var-header">
		<span class="var-title">
			static <span class="var-type">mixed</span>
			<span class="var-name">$resource_objects</span>
			 = <span class="var-default">array()</span>			(line <span class="line-number">18</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	
	
		
		

</div>
<a name="var$write_file_object" id="$write_file_object"><!-- --></A>
<div class="evenrow">

	<div class="var-header">
		<span class="var-title">
			static <span class="var-type">mixed</span>
			<span class="var-name">$write_file_object</span>
			 = <span class="var-default"> null</span>			(line <span class="line-number">19</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	
	
		
		

</div>
<a name="var$cached_template" id="$cached_template"><!-- --></A>
<div class="oddrow">

	<div class="var-header">
		<span class="var-title">
			<span class="var-type">mixed</span>
			<span class="var-name">$cached_template</span>
			 = <span class="var-default"> null</span>			(line <span class="line-number">49</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	
		
		

</div>
<a name="var$cacher_class" id="$cacher_class"><!-- --></A>
<div class="evenrow">

	<div class="var-header">
		<span class="var-title">
			<span class="var-type">mixed</span>
			<span class="var-name">$cacher_class</span>
			 = <span class="var-default"> null</span>			(line <span class="line-number">29</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	
		
		

</div>
<a name="var$cache_id" id="$cache_id"><!-- --></A>
<div class="oddrow">

	<div class="var-header">
		<span class="var-title">
			<span class="var-type">mixed</span>
			<span class="var-name">$cache_id</span>
			 = <span class="var-default"> null</span>			(line <span class="line-number">24</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	
		
		

</div>
<a name="var$cache_time" id="$cache_time"><!-- --></A>
<div class="evenrow">

	<div class="var-header">
		<span class="var-title">
			<span class="var-type">mixed</span>
			<span class="var-name">$cache_time</span>
			 = <span class="var-default"> 0</span>			(line <span class="line-number">52</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	
		
		

</div>
<a name="var$caching" id="$caching"><!-- --></A>
<div class="oddrow">

	<div class="var-header">
		<span class="var-title">
			<span class="var-type">mixed</span>
			<span class="var-name">$caching</span>
			 = <span class="var-default"> null</span>			(line <span class="line-number">26</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	
		
		

</div>
<a name="var$caching_lifetime" id="$caching_lifetime"><!-- --></A>
<div class="evenrow">

	<div class="var-header">
		<span class="var-title">
			<span class="var-type">mixed</span>
			<span class="var-name">$caching_lifetime</span>
			 = <span class="var-default"> null</span>			(line <span class="line-number">27</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	
		
		

</div>
<a name="var$caching_type" id="$caching_type"><!-- --></A>
<div class="oddrow">

	<div class="var-header">
		<span class="var-title">
			<span class="var-type">mixed</span>
			<span class="var-name">$caching_type</span>
			 = <span class="var-default"> null</span>			(line <span class="line-number">30</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	
		
		

</div>
<a name="var$compiled_template" id="$compiled_template"><!-- --></A>
<div class="evenrow">

	<div class="var-header">
		<span class="var-title">
			<span class="var-type">mixed</span>
			<span class="var-name">$compiled_template</span>
			 = <span class="var-default"> null</span>			(line <span class="line-number">44</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	
		
		

</div>
<a name="var$compiler_class" id="$compiler_class"><!-- --></A>
<div class="oddrow">

	<div class="var-header">
		<span class="var-title">
			<span class="var-type">mixed</span>
			<span class="var-name">$compiler_class</span>
			 = <span class="var-default"> null</span>			(line <span class="line-number">28</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	
		
		

</div>
<a name="var$compile_id" id="$compile_id"><!-- --></A>
<div class="evenrow">

	<div class="var-header">
		<span class="var-title">
			<span class="var-type">mixed</span>
			<span class="var-name">$compile_id</span>
			 = <span class="var-default"> null</span>			(line <span class="line-number">25</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	
		
		

</div>
<a name="var$compile_time" id="$compile_time"><!-- --></A>
<div class="oddrow">

	<div class="var-header">
		<span class="var-title">
			<span class="var-type">mixed</span>
			<span class="var-name">$compile_time</span>
			 = <span class="var-default"> 0</span>			(line <span class="line-number">46</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	
		
		

</div>
<a name="var$force_compile" id="$force_compile"><!-- --></A>
<div class="evenrow">

	<div class="var-header">
		<span class="var-title">
			<span class="var-type">mixed</span>
			<span class="var-name">$force_compile</span>
			 = <span class="var-default"> null</span>			(line <span class="line-number">31</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	
		
		

</div>
<a name="var$render_time" id="$render_time"><!-- --></A>
<div class="oddrow">

	<div class="var-header">
		<span class="var-title">
			<span class="var-type">mixed</span>
			<span class="var-name">$render_time</span>
			 = <span class="var-default"> 0</span>			(line <span class="line-number">55</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	
		
		

</div>
<a name="var$resource_name" id="$resource_name"><!-- --></A>
<div class="evenrow">

	<div class="var-header">
		<span class="var-title">
			<span class="var-type">mixed</span>
			<span class="var-name">$resource_name</span>
			 = <span class="var-default"> null</span>			(line <span class="line-number">35</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	
		
		

</div>
<a name="var$resource_type" id="$resource_type"><!-- --></A>
<div class="oddrow">

	<div class="var-header">
		<span class="var-title">
			<span class="var-type">mixed</span>
			<span class="var-name">$resource_type</span>
			 = <span class="var-default"> null</span>			(line <span class="line-number">34</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	
		
		

</div>
<a name="var$template_resource" id="$template_resource"><!-- --></A>
<div class="evenrow">

	<div class="var-header">
		<span class="var-title">
			<span class="var-type">mixed</span>
			<span class="var-name">$template_resource</span>
			 = <span class="var-default"> null</span>			(line <span class="line-number">33</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	
		
		

</div>
<a name="var$template_source" id="$template_source"><!-- --></A>
<div class="oddrow">

	<div class="var-header">
		<span class="var-title">
			<span class="var-type">mixed</span>
			<span class="var-name">$template_source</span>
			 = <span class="var-default"> null</span>			(line <span class="line-number">40</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	
		
		

</div>
<a name="var$tpl_vars" id="$tpl_vars"><!-- --></A>
<div class="evenrow">

	<div class="var-header">
		<span class="var-title">
			<span class="var-type">mixed</span>
			<span class="var-name">$tpl_vars</span>
						(line <span class="line-number">54</span>)
		</span>
	</div>

	<!-- ========== Info from phpDoc block ========= -->
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	
		
		

</div>
						
		</div>
	</div>
	
	<a name="sec-methods"></a>
	<div class="info-box">
		<div class="info-box-title">Methods</div>
		<div class="nav-bar">
			<a href="#sec-description">Description</a> |
							<a href="#sec-descendents">Descendents</a> |
															<a href="#sec-var-summary">Vars</a> (<a href="#sec-vars">details</a>)
																	<a href="#sec-method-summary">Methods</a> (<span class="disabled">details</span>)
						
		</div>
		<div class="info-box-body">
			<A NAME='method_detail'></A>

<a name="method__construct" id="__construct"><!-- --></a>
<div class="oddrow">
	
	<div class="method-header">
		<span class="method-title">Constructor __construct</span> (line <span class="line-number">68</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Create template data object</p>
<p class="description"><p>Some of the global Smarty settings copied to template scope  It load the required template resources and cacher plugins</p></p>
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">Smarty_Internal_Template</span>
		<span class="method-name">
			__construct
		</span>
					(<span class="var-type">string</span>&nbsp;<span class="var-name">$template_resource</span>, [<span class="var-type">object</span>&nbsp;<span class="var-name">$_parent_tpl_vars</span> = <span class="var-default">null</span>], [<span class="var-type">mixed</span>&nbsp;<span class="var-name">$_cache_id</span> = <span class="var-default">null</span>], [<span class="var-type">mixed</span>&nbsp;<span class="var-name">$_compile_id</span> = <span class="var-default">null</span>])
			</div>
	
			<ul class="parameters">
					<li>
				<span class="var-type">string</span>
				<span class="var-name">$template_resource</span><span class="var-description">: template resource string</span>			</li>
					<li>
				<span class="var-type">object</span>
				<span class="var-name">$_parent_tpl_vars</span><span class="var-description">: back pointer to parent Smarty variables or null</span>			</li>
					<li>
				<span class="var-type">mixed</span>
				<span class="var-name">$_cache_id</span><span class="var-description">: cache id or null</span>			</li>
					<li>
				<span class="var-type">mixed</span>
				<span class="var-name">$_compile_id</span><span class="var-description">: compile id or null</span>			</li>
				</ul>
		
			
	</div>
<a name="methodbuildTemplateFilepath" id="buildTemplateFilepath"><!-- --></a>
<div class="evenrow">
	
	<div class="method-header">
		<span class="method-title">buildTemplateFilepath</span> (line <span class="line-number">477</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">get system filepath to template</p>
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">void</span>
		<span class="method-name">
			buildTemplateFilepath
		</span>
				()
			</div>
	
		
			
	</div>
<a name="methodcompileTemplateSource" id="compileTemplateSource"><!-- --></a>
<div class="oddrow">
	
	<div class="method-header">
		<span class="method-title">compileTemplateSource</span> (line <span class="line-number">241</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Compiles the template</p>
<p class="description"><p>If the template is not evaluated the compiled template is saved on disk</p></p>
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">void</span>
		<span class="method-name">
			compileTemplateSource
		</span>
				()
			</div>
	
		
			
	</div>
<a name="methodgetCachedContent" id="getCachedContent"><!-- --></a>
<div class="evenrow">
	
	<div class="method-header">
		<span class="method-title">getCachedContent</span> (line <span class="line-number">305</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Returns the cached template output</p>
	<ul class="tags">
				<li><span class="field">return:</span> |booelan the template content or false if the file does not exist</li>
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">string</span>
		<span class="method-name">
			getCachedContent
		</span>
				()
			</div>
	
		
			
	</div>
<a name="methodgetCachedFilepath" id="getCachedFilepath"><!-- --></a>
<div class="oddrow">
	
	<div class="method-header">
		<span class="method-title">getCachedFilepath</span> (line <span class="line-number">279</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Returns the filepath of the cached template output</p>
<p class="description"><p>The filepath is determined by the actual resource handler of the cacher</p></p>
	<ul class="tags">
				<li><span class="field">return:</span> the cache filepath</li>
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">string</span>
		<span class="method-name">
			getCachedFilepath
		</span>
				()
			</div>
	
		
			
	</div>
<a name="methodgetCachedTimestamp" id="getCachedTimestamp"><!-- --></a>
<div class="evenrow">
	
	<div class="method-header">
		<span class="method-title">getCachedTimestamp</span> (line <span class="line-number">293</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Returns the timpestamp of the cached template output</p>
<p class="description"><p>The timestamp is determined by the actual resource handler of the cacher</p></p>
	<ul class="tags">
				<li><span class="field">return:</span> the template timestamp</li>
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">integer</span>
		<span class="method-name">
			getCachedTimestamp
		</span>
				()
			</div>
	
		
			
	</div>
<a name="methodgetCompiledFilepath" id="getCompiledFilepath"><!-- --></a>
<div class="oddrow">
	
	<div class="method-header">
		<span class="method-title">getCompiledFilepath</span> (line <span class="line-number">197</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Returns the compiled template filepath</p>
	<ul class="tags">
				<li><span class="field">return:</span> the template filepath</li>
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">string</span>
		<span class="method-name">
			getCompiledFilepath
		</span>
				()
			</div>
	
		
			
	</div>
<a name="methodgetCompiledTemplate" id="getCompiledTemplate"><!-- --></a>
<div class="evenrow">
	
	<div class="method-header">
		<span class="method-title">getCompiledTemplate</span> (line <span class="line-number">223</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Returns the compiled template</p>
<p class="description"><p>It checks if the template must be compiled or just read from the template resource</p></p>
	<ul class="tags">
				<li><span class="field">return:</span> the compiled template</li>
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">string</span>
		<span class="method-name">
			getCompiledTemplate
		</span>
				()
			</div>
	
		
			
	</div>
<a name="methodgetCompiledTimestamp" id="getCompiledTimestamp"><!-- --></a>
<div class="oddrow">
	
	<div class="method-header">
		<span class="method-title">getCompiledTimestamp</span> (line <span class="line-number">209</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Returns the timpestamp of the compiled template</p>
	<ul class="tags">
				<li><span class="field">return:</span> the template timestamp</li>
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">integer</span>
		<span class="method-name">
			getCompiledTimestamp
		</span>
				()
			</div>
	
		
			
	</div>
<a name="methodgetRenderedTemplate" id="getRenderedTemplate"><!-- --></a>
<div class="evenrow">
	
	<div class="method-header">
		<span class="method-title">getRenderedTemplate</span> (line <span class="line-number">349</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Returns the rendered HTML output</p>
<p class="description"><p>If the cache is valid the cached content is used, otherwise  the output is rendered from the compiled template or PHP template source</p></p>
	<ul class="tags">
				<li><span class="field">return:</span> rendered HTML output</li>
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">string</span>
		<span class="method-name">
			getRenderedTemplate
		</span>
				()
			</div>
	
		
			
	</div>
<a name="methodgetTemplateFilepath" id="getTemplateFilepath"><!-- --></a>
<div class="oddrow">
	
	<div class="method-header">
		<span class="method-title">getTemplateFilepath</span> (line <span class="line-number">112</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Returns the template filepath</p>
<p class="description"><p>The template filepath is determined by the actual resource handler</p></p>
	<ul class="tags">
				<li><span class="field">return:</span> the template filepath</li>
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">string</span>
		<span class="method-name">
			getTemplateFilepath
		</span>
				()
			</div>
	
		
			
	</div>
<a name="methodgetTemplateSource" id="getTemplateSource"><!-- --></a>
<div class="evenrow">
	
	<div class="method-header">
		<span class="method-title">getTemplateSource</span> (line <span class="line-number">140</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Returns the template source code</p>
<p class="description"><p>The template source is being read by the actual resource handler</p></p>
	<ul class="tags">
				<li><span class="field">return:</span> the template source</li>
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">string</span>
		<span class="method-name">
			getTemplateSource
		</span>
				()
			</div>
	
		
			
	</div>
<a name="methodgetTemplateTimestamp" id="getTemplateTimestamp"><!-- --></a>
<div class="oddrow">
	
	<div class="method-header">
		<span class="method-title">getTemplateTimestamp</span> (line <span class="line-number">126</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Returns the timpestamp of the template source</p>
<p class="description"><p>The template timestamp is determined by the actual resource handler</p></p>
	<ul class="tags">
				<li><span class="field">return:</span> the template timestamp</li>
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">integer</span>
		<span class="method-name">
			getTemplateTimestamp
		</span>
				()
			</div>
	
		
			
	</div>
<a name="methodisCached" id="isCached"><!-- --></a>
<div class="evenrow">
	
	<div class="method-header">
		<span class="method-title">isCached</span> (line <span class="line-number">327</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Checks of a valid version redered HTML output is in the cache</p>
<p class="description"><p>If the cache is valid the contents is stored in the template object</p></p>
	<ul class="tags">
				<li><span class="field">return:</span> true if cache is valid</li>
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">boolean</span>
		<span class="method-name">
			isCached
		</span>
				()
			</div>
	
		
			
	</div>
<a name="methodisEvaluated" id="isEvaluated"><!-- --></a>
<div class="oddrow">
	
	<div class="method-header">
		<span class="method-title">isEvaluated</span> (line <span class="line-number">171</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Returns if the compiled template is stored or just evaluated in memory</p>
<p class="description"><p>The status is determined by the actual resource handler</p></p>
	<ul class="tags">
				<li><span class="field">return:</span> true if the compiled template has to be evaluated</li>
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">boolean</span>
		<span class="method-name">
			isEvaluated
		</span>
				()
			</div>
	
		
			
	</div>
<a name="methodmustCompile" id="mustCompile"><!-- --></a>
<div class="evenrow">
	
	<div class="method-header">
		<span class="method-title">mustCompile</span> (line <span class="line-number">185</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Returns if the current template must be compiled by the Smarty compiler</p>
<p class="description"><p>It does compare the timestamps of template source and the compiled templates and checks the force compile configuration</p></p>
	<ul class="tags">
				<li><span class="field">return:</span> true if the template must be compiled</li>
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">boolean</span>
		<span class="method-name">
			mustCompile
		</span>
				()
			</div>
	
		
			
	</div>
<a name="methodrenderTemplate" id="renderTemplate"><!-- --></a>
<div class="oddrow">
	
	<div class="method-header">
		<span class="method-title">renderTemplate</span> (line <span class="line-number">384</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Render the output using the compiled template or the PHP template source</p>
<p class="description"><p>The rendering process is accomplished by just including the PHP files.  The only exceptions are evaluated templates (string template). Their code has  to be evaluated</p></p>
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">void</span>
		<span class="method-name">
			renderTemplate
		</span>
				()
			</div>
	
		
			
	</div>
<a name="methodupdateGlobalVariables" id="updateGlobalVariables"><!-- --></a>
<div class="evenrow">
	
	<div class="method-header">
		<span class="method-title">updateGlobalVariables</span> (line <span class="line-number">518</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Update global Smarty variables in parent variable object</p>
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">void</span>
		<span class="method-name">
			updateGlobalVariables
		</span>
				()
			</div>
	
		
			
	</div>
<a name="methodusesCompiler" id="usesCompiler"><!-- --></a>
<div class="oddrow">
	
	<div class="method-header">
		<span class="method-title">usesCompiler</span> (line <span class="line-number">157</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Returns if the template resource uses the Smarty compiler</p>
<p class="description"><p>The status is determined by the actual resource handler</p></p>
	<ul class="tags">
				<li><span class="field">return:</span> true if the template will use the compiler</li>
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">boolean</span>
		<span class="method-name">
			usesCompiler
		</span>
				()
			</div>
	
		
			
	</div>
<a name="methodwriteCachedContent" id="writeCachedContent"><!-- --></a>
<div class="evenrow">
	
	<div class="method-header">
		<span class="method-title">writeCachedContent</span> (line <span class="line-number">315</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Writes the cached template output</p>
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">void</span>
		<span class="method-name">
			writeCachedContent
		</span>
				()
			</div>
	
		
			
	</div>
							<h4>Inherited Methods</h4>
				<a name='inherited_methods'><!-- --></a>	
									<!-- =========== Summary =========== -->
					<p>Inherited From <span class="classname"><a href="../../Smarty/Templates/Smarty_Internal_TemplateBase.html">Smarty_Internal_TemplateBase</a></span></p>
					<blockquote>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_TemplateBase.html#methodassign">Smarty_Internal_TemplateBase::assign()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_TemplateBase.html#methodbuildTemplateId">Smarty_Internal_TemplateBase::buildTemplateId()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_TemplateBase.html#methodcreateTemplate">Smarty_Internal_TemplateBase::createTemplate()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_TemplateBase.html#methodgetValue">Smarty_Internal_TemplateBase::getValue()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_TemplateBase.html#methodgetVariable">Smarty_Internal_TemplateBase::getVariable()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_TemplateBase.html#method_get_time">Smarty_Internal_TemplateBase::_get_time()</a></span><br>
											</blockquote>
										
		</div>
	</div>


	<p class="notes" id="credit">
		Documentation generated on Sat, 15 Nov 2008 19:00:59 +0100 by <a href="http://www.phpdoc.org" target="_blank">phpDocumentor 1.4.1</a>
	</p>
	</div></body>
</html>