<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">
		<head>
			<!-- template designed by Marco Von Ballmoos -->
			<title>Docs For Class Smarty_Template</title>
			<link rel="stylesheet" href="../../media/stylesheet.css" />
			<meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1'/>
		</head>
		<body>
			<div class="page-body">			
<h2 class="class-name">Class Smarty_Template</h2>

<a name="sec-description"></a>
<div class="info-box">
	<div class="info-box-title">Description</div>
	<div class="nav-bar">
					<span class="disabled">Description</span> |
													<a href="#sec-vars">Vars</a>
						|											<a href="#sec-methods">Methods</a>
						
					</div>
	<div class="info-box-body">
        		<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">wrapper for template class</p>
		<p class="notes">
			Located in <a class="field" href="_libs---sysplugins---internal.template.php.html">/libs/sysplugins/internal.template.php</a> (line <span class="field">517</span>)
		</p>
		
				
		<pre><a href="../../Smarty/Templates/Smarty_Internal_TemplateBase.html">Smarty_Internal_TemplateBase</a>
   |
   --<a href="../../Smarty/Templates/Smarty_Internal_Template.html">Smarty_Internal_Template</a>
      |
      --Smarty_Template</pre>
	
			</div>
</div>





	<a name="sec-vars"></a>
	<div class="info-box">
		<div class="info-box-title">Variables</div>
		<div class="nav-bar">
			<a href="#sec-description">Description</a> |
										<span class="disabled">Vars</span>
						
			
										| 
									<a href="#sec-methods">Methods</a>
							
					</div>
		<div class="info-box-body">
										<h4>Inherited Variables</h4>
				<A NAME='inherited_vars'><!-- --></A>
									<p>Inherited from <span class="classname"><a href="../../Smarty/Templates/Smarty_Internal_Template.html">Smarty_Internal_Template</a></span></p>
					<blockquote>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$cached_content">Smarty_Internal_Template::$cached_content</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$cacher_class">Smarty_Internal_Template::$cacher_class</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$cacher_object">Smarty_Internal_Template::$cacher_object</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$cache_id">Smarty_Internal_Template::$cache_id</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$cache_resource_objects">Smarty_Internal_Template::$cache_resource_objects</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$cache_time">Smarty_Internal_Template::$cache_time</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$caching">Smarty_Internal_Template::$caching</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$caching_lifetime">Smarty_Internal_Template::$caching_lifetime</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$caching_type">Smarty_Internal_Template::$caching_type</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$compiled_template">Smarty_Internal_Template::$compiled_template</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$compiler_class">Smarty_Internal_Template::$compiler_class</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$compiler_object">Smarty_Internal_Template::$compiler_object</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$compile_id">Smarty_Internal_Template::$compile_id</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$compile_time">Smarty_Internal_Template::$compile_time</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$force_compile">Smarty_Internal_Template::$force_compile</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$mustCompile">Smarty_Internal_Template::$mustCompile</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$parent">Smarty_Internal_Template::$parent</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$render_time">Smarty_Internal_Template::$render_time</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$resource_name">Smarty_Internal_Template::$resource_name</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$resource_objects">Smarty_Internal_Template::$resource_objects</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$resource_type">Smarty_Internal_Template::$resource_type</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$template_resource">Smarty_Internal_Template::$template_resource</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$template_source">Smarty_Internal_Template::$template_source</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$tpl_vars">Smarty_Internal_Template::$tpl_vars</a></span><br>
							</span>
													<span class="var-title">
								<span class="var-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#var$write_file_object">Smarty_Internal_Template::$write_file_object</a></span><br>
							</span>
											</blockquote> 
										
		</div>
	</div>
	
	<a name="sec-methods"></a>
	<div class="info-box">
		<div class="info-box-title">Methods</div>
		<div class="nav-bar">
			<a href="#sec-description">Description</a> |
															<a href="#sec-vars">Vars</a>
																	<span class="disabled">Methods</span>
						
		</div>
		<div class="info-box-body">
			<A NAME='method_detail'></A>

							<h4>Inherited Methods</h4>
				<a name='inherited_methods'><!-- --></a>	
									<!-- =========== Summary =========== -->
					<p>Inherited From <span class="classname"><a href="../../Smarty/Templates/Smarty_Internal_Template.html">Smarty_Internal_Template</a></span></p>
					<blockquote>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#method__construct">Smarty_Internal_Template::__construct()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#methodbuildTemplateFilepath">Smarty_Internal_Template::buildTemplateFilepath()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#methodcompileTemplateSource">Smarty_Internal_Template::compileTemplateSource()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#methodgetCachedContent">Smarty_Internal_Template::getCachedContent()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#methodgetCachedFilepath">Smarty_Internal_Template::getCachedFilepath()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#methodgetCachedTimestamp">Smarty_Internal_Template::getCachedTimestamp()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#methodgetCompiledFilepath">Smarty_Internal_Template::getCompiledFilepath()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#methodgetCompiledTemplate">Smarty_Internal_Template::getCompiledTemplate()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#methodgetCompiledTimestamp">Smarty_Internal_Template::getCompiledTimestamp()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#methodgetRenderedTemplate">Smarty_Internal_Template::getRenderedTemplate()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#methodgetTemplateFilepath">Smarty_Internal_Template::getTemplateFilepath()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#methodgetTemplateSource">Smarty_Internal_Template::getTemplateSource()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#methodgetTemplateTimestamp">Smarty_Internal_Template::getTemplateTimestamp()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#methodisCached">Smarty_Internal_Template::isCached()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#methodisEvaluated">Smarty_Internal_Template::isEvaluated()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#methodmustCompile">Smarty_Internal_Template::mustCompile()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#methodrenderTemplate">Smarty_Internal_Template::renderTemplate()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#methodupdateGlobalVariables">Smarty_Internal_Template::updateGlobalVariables()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#methodusesCompiler">Smarty_Internal_Template::usesCompiler()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_Template.html#methodwriteCachedContent">Smarty_Internal_Template::writeCachedContent()</a></span><br>
											</blockquote>
									<!-- =========== Summary =========== -->
					<p>Inherited From <span class="classname"><a href="../../Smarty/Templates/Smarty_Internal_TemplateBase.html">Smarty_Internal_TemplateBase</a></span></p>
					<blockquote>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_TemplateBase.html#methodassign">Smarty_Internal_TemplateBase::assign()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_TemplateBase.html#methodbuildTemplateId">Smarty_Internal_TemplateBase::buildTemplateId()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_TemplateBase.html#methodcreateTemplate">Smarty_Internal_TemplateBase::createTemplate()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_TemplateBase.html#methodgetValue">Smarty_Internal_TemplateBase::getValue()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_TemplateBase.html#methodgetVariable">Smarty_Internal_TemplateBase::getVariable()</a></span><br>
													<span class="method-name"><a href="../../Smarty/Templates/Smarty_Internal_TemplateBase.html#method_get_time">Smarty_Internal_TemplateBase::_get_time()</a></span><br>
											</blockquote>
										
		</div>
	</div>


	<p class="notes" id="credit">
		Documentation generated on Tue, 23 Dec 2008 15:50:47 +0100 by <a href="http://www.phpdoc.org" target="_blank">phpDocumentor 1.4.1</a>
	</p>
	</div></body>
</html>