<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">
		<head>
			<!-- template designed by Marco Von Ballmoos -->
			<title>Docs For Class Smarty_Internal_TemplateBase</title>
			<link rel="stylesheet" href="../../media/stylesheet.css" />
			<meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1'/>
		</head>
		<body>
			<div class="page-body">			
<h2 class="class-name">Class Smarty_Internal_TemplateBase</h2>

<a name="sec-description"></a>
<div class="info-box">
	<div class="info-box-title">Description</div>
	<div class="nav-bar">
					<span class="disabled">Description</span> |
							<a href="#sec-descendents">Descendents</a>
			|													<a href="#sec-method-summary">Methods</a> (<a href="#sec-methods">details</a>)
						
					</div>
	<div class="info-box-body">
        		<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">Base class with template and variable methodes</p>
		<p class="notes">
			Located in <a class="field" href="_libs---sysplugins---internal.templatebase.php.html">/libs/sysplugins/internal.templatebase.php</a> (line <span class="field">16</span>)
		</p>
		
				
		<pre></pre>
	
			</div>
</div>

	<a name="sec-descendents"></a>
	<div class="info-box">
		<div class="info-box-title">Direct descendents</div>
		<div class="nav-bar">
			<a href="#sec-description">Description</a> |
			<span class="disabled">Descendents</span>
			|															<a href="#sec-method-summary">Methods</a> (<a href="#sec-methods">details</a>)
							
								</div>
		<div class="info-box-body">
			<table cellpadding="2" cellspacing="0" class="class-table">
				<tr>
					<th class="class-table-header">Class</th>
					<th class="class-table-header">Description</th>
				</tr>
								<tr>
					<td style="padding-right: 2em"><a href="../../Smarty/Templates/Smarty.html">Smarty</a></td>
					<td>
											This is the main Smarty class
										</td>
				</tr>
								<tr>
					<td style="padding-right: 2em"><a href="../../Smarty/Debug/Smarty_Internal_Debug.html">Smarty_Internal_Debug</a></td>
					<td>
											Smarty Internal Plugin Debug Class
										</td>
				</tr>
								<tr>
					<td style="padding-right: 2em"><a href="../../Smarty/Templates/Smarty_Internal_Template.html">Smarty_Internal_Template</a></td>
					<td>
											Main class with template data structures and methods
										</td>
				</tr>
								<tr>
					<td style="padding-right: 2em"><a href="../../Smarty/Templates/Smarty_Data.html">Smarty_Data</a></td>
					<td>
											class for the Smarty data object
										</td>
				</tr>
							</table>
		</div>
	</div>



	<a name="sec-method-summary"></a>
	<div class="info-box">
		<div class="info-box-title">Method Summary</span></div>
		<div class="nav-bar">
			<a href="#sec-description">Description</a> |
							<a href="#sec-descendents">Descendents</a> |
												<span class="disabled">Methods</span> (<a href="#sec-methods">details</a>)
		</div>
		<div class="info-box-body">			
			<div class="method-summary">
																																																				
												<div class="method-definition">
											<span class="method-result">void</span>
										<a href="#assign" title="details" class="method-name">assign</a>
											(<span class="var-type">array|string</span>&nbsp;<span class="var-name">$tpl_var</span>, [<span class="var-type">mixed</span>&nbsp;<span class="var-name">$value</span> = <span class="var-default">null</span>], [<span class="var-type">boolean</span>&nbsp;<span class="var-name">$nocache</span> = <span class="var-default">false</span>], [<span class="var-type">boolean</span>&nbsp;<span class="var-name">$global</span> = <span class="var-default">false</span>])
									</div>
																<div class="method-definition">
											<span class="method-result">string</span>
										<a href="#buildTemplateId" title="details" class="method-name">buildTemplateId</a>
											(<span class="var-type">string</span>&nbsp;<span class="var-name">$_resource</span>, <span class="var-type">mixed</span>&nbsp;<span class="var-name">$_cache_id</span>, <span class="var-type">mixed</span>&nbsp;<span class="var-name">$_compile_id</span>)
									</div>
																<div class="method-definition">
											<span class="method-result">object template</span>
										<a href="#createTemplate" title="details" class="method-name">createTemplate</a>
											(<span class="var-type">string</span>&nbsp;<span class="var-name">$template</span>, [<span class="var-type">object</span>&nbsp;<span class="var-name">$parent_tpl_vars</span> = <span class="var-default">null</span>], [<span class="var-type">mixed</span>&nbsp;<span class="var-name">$cache_id</span> = <span class="var-default">null</span>], [<span class="var-type">mixed</span>&nbsp;<span class="var-name">$compile_id</span> = <span class="var-default">null</span>])
									</div>
																<div class="method-definition">
											<span class="method-result">mixed</span>
										<a href="#getValue" title="details" class="method-name">getValue</a>
											(<span class="var-type">string</span>&nbsp;<span class="var-name">$variable</span>)
									</div>
																<div class="method-definition">
											<span class="method-result">object the</span>
										<a href="#getVariable" title="details" class="method-name">getVariable</a>
											(<span class="var-type">string</span>&nbsp;<span class="var-name">$variable</span>)
									</div>
																<div class="method-definition">
											<span class="method-result">double</span>
										<a href="#_get_time" title="details" class="method-name">_get_time</a>
										()
									</div>
								</div>
		</div>
	</div>		

	
	<a name="sec-methods"></a>
	<div class="info-box">
		<div class="info-box-title">Methods</div>
		<div class="nav-bar">
			<a href="#sec-description">Description</a> |
							<a href="#sec-descendents">Descendents</a> |
																<a href="#sec-method-summary">Methods</a> (<span class="disabled">details</span>)
						
		</div>
		<div class="info-box-body">
			<A NAME='method_detail'></A>

<a name="methodassign" id="assign"><!-- --></a>
<div class="oddrow">
	
	<div class="method-header">
		<span class="method-title">assign</span> (line <span class="line-number">25</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">assigns a Smarty variable</p>
	<ul class="tags">
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">void</span>
		<span class="method-name">
			assign
		</span>
					(<span class="var-type">array|string</span>&nbsp;<span class="var-name">$tpl_var</span>, [<span class="var-type">mixed</span>&nbsp;<span class="var-name">$value</span> = <span class="var-default">null</span>], [<span class="var-type">boolean</span>&nbsp;<span class="var-name">$nocache</span> = <span class="var-default">false</span>], [<span class="var-type">boolean</span>&nbsp;<span class="var-name">$global</span> = <span class="var-default">false</span>])
			</div>
	
			<ul class="parameters">
					<li>
				<span class="var-type">array|string</span>
				<span class="var-name">$tpl_var</span><span class="var-description">: the template variable name(s)</span>			</li>
					<li>
				<span class="var-type">mixed</span>
				<span class="var-name">$value</span><span class="var-description">: the value to assign</span>			</li>
					<li>
				<span class="var-type">boolean</span>
				<span class="var-name">$nocache</span><span class="var-description">: if true any output of this variable will be not cached</span>			</li>
					<li>
				<span class="var-type">boolean</span>
				<span class="var-name">$global</span><span class="var-description">: if true the variable will have global scope</span>			</li>
				</ul>
		
			
	</div>
<a name="methodbuildTemplateId" id="buildTemplateId"><!-- --></a>
<div class="evenrow">
	
	<div class="method-header">
		<span class="method-title">buildTemplateId</span> (line <span class="line-number">128</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">generates a template id</p>
	<ul class="tags">
				<li><span class="field">return:</span> a unique template id</li>
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">string</span>
		<span class="method-name">
			buildTemplateId
		</span>
					(<span class="var-type">string</span>&nbsp;<span class="var-name">$_resource</span>, <span class="var-type">mixed</span>&nbsp;<span class="var-name">$_cache_id</span>, <span class="var-type">mixed</span>&nbsp;<span class="var-name">$_compile_id</span>)
			</div>
	
			<ul class="parameters">
					<li>
				<span class="var-type">string</span>
				<span class="var-name">$_resource</span><span class="var-description">: the resource handle of the template file</span>			</li>
					<li>
				<span class="var-type">mixed</span>
				<span class="var-name">$_cache_id</span><span class="var-description">: cache id to be used with this template</span>			</li>
					<li>
				<span class="var-type">mixed</span>
				<span class="var-name">$_compile_id</span><span class="var-description">: compile id to be used with this template</span>			</li>
				</ul>
		
			
	</div>
<a name="methodcreateTemplate" id="createTemplate"><!-- --></a>
<div class="oddrow">
	
	<div class="method-header">
		<span class="method-title">createTemplate</span> (line <span class="line-number">101</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">creates a template object</p>
	<ul class="tags">
				<li><span class="field">return:</span> object</li>
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">object template</span>
		<span class="method-name">
			createTemplate
		</span>
					(<span class="var-type">string</span>&nbsp;<span class="var-name">$template</span>, [<span class="var-type">object</span>&nbsp;<span class="var-name">$parent_tpl_vars</span> = <span class="var-default">null</span>], [<span class="var-type">mixed</span>&nbsp;<span class="var-name">$cache_id</span> = <span class="var-default">null</span>], [<span class="var-type">mixed</span>&nbsp;<span class="var-name">$compile_id</span> = <span class="var-default">null</span>])
			</div>
	
			<ul class="parameters">
					<li>
				<span class="var-type">string</span>
				<span class="var-name">$template</span><span class="var-description">: the resource handle of the template file</span>			</li>
					<li>
				<span class="var-type">object</span>
				<span class="var-name">$parent_tpl_vars</span><span class="var-description">: next higher level of Smarty variables</span>			</li>
					<li>
				<span class="var-type">mixed</span>
				<span class="var-name">$cache_id</span><span class="var-description">: cache id to be used with this template</span>			</li>
					<li>
				<span class="var-type">mixed</span>
				<span class="var-name">$compile_id</span><span class="var-description">: compile id to be used with this template</span>			</li>
				</ul>
		
			
	</div>
<a name="methodgetValue" id="getValue"><!-- --></a>
<div class="evenrow">
	
	<div class="method-header">
		<span class="method-title">getValue</span> (line <span class="line-number">59</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">gets the Value of a Smarty variable</p>
	<ul class="tags">
				<li><span class="field">return:</span> the value of the variable</li>
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">mixed</span>
		<span class="method-name">
			getValue
		</span>
					(<span class="var-type">string</span>&nbsp;<span class="var-name">$variable</span>)
			</div>
	
			<ul class="parameters">
					<li>
				<span class="var-type">string</span>
				<span class="var-name">$variable</span><span class="var-description">: the name of the Smarty variable</span>			</li>
				</ul>
		
			
	</div>
<a name="methodgetVariable" id="getVariable"><!-- --></a>
<div class="oddrow">
	
	<div class="method-header">
		<span class="method-title">getVariable</span> (line <span class="line-number">71</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">gets the object of a Smarty variable</p>
	<ul class="tags">
				<li><span class="field">return:</span> object of the variable</li>
				<li><span class="field">access:</span> public</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">object the</span>
		<span class="method-name">
			getVariable
		</span>
					(<span class="var-type">string</span>&nbsp;<span class="var-name">$variable</span>)
			</div>
	
			<ul class="parameters">
					<li>
				<span class="var-type">string</span>
				<span class="var-name">$variable</span><span class="var-description">: the name of the Smarty variable</span>			</li>
				</ul>
		
			
	</div>
<a name="method_get_time" id="_get_time"><!-- --></a>
<div class="evenrow">
	
	<div class="method-header">
		<span class="method-title">_get_time</span> (line <span class="line-number">138</span>)
	</div> 
	
	<!-- ========== Info from phpDoc block ========= -->
<p class="short-description">return current time</p>
	<ul class="tags">
				<li><span class="field">return:</span> current time</li>
			</ul>
	
	<div class="method-signature">
		<span class="method-result">double</span>
		<span class="method-name">
			_get_time
		</span>
				()
			</div>
	
		
			
	</div>
						
		</div>
	</div>


	<p class="notes" id="credit">
		Documentation generated on Mon, 24 Nov 2008 00:30:42 +0100 by <a href="http://www.phpdoc.org" target="_blank">phpDocumentor 1.4.1</a>
	</p>
	</div></body>
</html>